body {
  background-color: red;
  top: 0;
  bottom: 100%;
  }
button {
  background-color: lightblue;
  border-width: 0px;
  font-weight: 500;
  border-radius: 10px;
  
  width: 200px;
  text-size: 14px;
  height: 45px;
  
  }
button:hover{
  border-width: 3px;
  width: 250px;
  height: 90px;
  border-color: blue;
  }
