body {
  background-color: red;
  top: 0;
  bottom: 100%;
  }
button {
  background-color: blue;
  border-width: 0px;
  position: absolute;
  border-radius: 10px;
  
  }
button:hover{
  border-width: 3px;
  border-color: blue;
  }
